/vendor/**/.git*

# Test binaries and config files
pingbeat
pingbeat*.yml
*.prof

# Glide stuff
glide

# Directories
/.vagrant
/.idea
/build
_obj
_test
/vendor

# Files
.DS_Store
/glide.lock
/beats.iml
*.dev.yml

# Editor swap files
*.swp
*.swo
*.swn
.~lock*
.#*
*~
*.tmp

# Cross compile artifacts
dist
