build
_meta/kibana
_meta/module.generated
/tests/load/logs
/docs/html_docs

/vendor/**/.git*

# Test binaries and config files
/pingbeat
/pingbeat.test
/_meta/pingbeat.dev.yml
*.prof

# Glide stuff
glide
glide.yaml.bkup

# Directories
/.vagrant
/.idea
/build
_obj
_test
/vendor

# Files
.DS_Store
/glide.lock
/beats.iml
*.dev.yml
*.pyc

# Editor swap files
*.swp
*.swo
*.swn
.~lock*
.#*
*~
*.tmp

# Cross compile artifacts
dist
\#*
