[Unit]
Description=Pingbeat sends ICMP packets and stores the RTT in Elasticsearch
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/pingbeat -c /etc/pingbeat/pingbeat.yml
ProtectSystem=on
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
